.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
